@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lobster&family=Patua+One&display=Poppins:ital,wght@1,600&display=swap');

body {
    margin: 0;
    width: 100%;
}

.navbar {
    background-color: whitesmoke;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 0 0 1px;
    margin: 0;
}

#logotxt {
    margin-left: 20px;
    font-family: 'Alfa Slab One', cursive;
    font-weight: lighter;
}
#logotxt:hover{
    color: gray;
}

.hm {
    margin-left: 500px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.789);
    font-size: x-large;
    font-weight: bold;
}

.land {
    color: black;
}

a:hover {
    color: gray;
}
.frstimg{
    width: 133%;
    margin-left: -323px;

}
.cookie1 {
    margin-top: -965px;
    margin-left: 80px;
}

.logo {
    margin-top: -900px;
    background-color: transparent;
}
.logo1{
    width: 250px;
}

.headtxt {
    color: #333;
    font-size: 550%;
    font-family: 'Patua One', display;
}

.scndhead {
    color: #666;
    font-size: 300%;
    vertical-align: baseline;
    margin-top: -30px;
    font-weight: lighter;
}
.cd{
    display: flex;
    justify-content: space-between;

}
.drops{
    margin-top: -1000px;
    margin-right: 200px;
}
.ckimg{
    width: 400px;
}
.drpimg{
    width: 300px;
}
.opng{
    margin-left: 200px;
    font-size:larger;
    font-weight: bold;
}
#frstline{
    color: chocolate;

}
#scndline{
    color: #666;
}
.bread{
    width: 579px;
    height: 481px;
    margin-left: 400px;
    margin-top: -60px;
}
.odr{
    margin-left: 1005px;
    margin-top: -600px;
}
.order1{
    font-family: 'Patua One',display;
    background-color:#a06d51;
    width: 180px;
    height: 60px;
    color: white;
    font-size: large;
    font-weight: normal;
}
.frstbody{
    height: 1400px;
}
.col{
    height: 1500px;
    float: left;
    width: 50% ;

}
.lftside{
    background-color: white;
}
.aside1{
    margin-left: 45px;
}
.aside2{
    margin-top: -1504px;
    /* background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute; */
    margin-left: 45px;
}
.asideimg1{
    width: 780px;
    height:1500px;
}
.asideimg2{
    width: 780px;
    height:1500px;
}
.srvcline{
    margin-top: 100px;
    position: relative;
    margin-left: 50px;
    
}
#srvcline1{
    font-family: 'Patua One',display;
    text-transform: uppercase;
    font-size: 18px;
    color: #a06d51!important;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-weight: lighter;
}
#srvcline2{
    font-family: 'Patua One',display;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4em;
}
.box{
    margin-top: 60px;
    margin-left: 50px;
}
.box1{
    background-color: white;
    border: 2px solid  rgba(0,0,0,0.12);
    border-width: 2px;
    padding: 20px;
    max-width: 450px;
    background-color: white;
    margin-bottom: 40px;
    transition: 1s ease-in-out;
}
.box1:hover{
    transform: scale(1.1);
}
.boximg1{
    margin-top: 40px;
    float: left;
    display: flex;
}
.boxtxt{
    margin-left: 130px;
}
.box2{
    background-color: white;
    border: 2px solid  rgba(0,0,0,0.12);
    border-width: 2px;
    padding: 20px;
    max-width: 450px;
    background-color: white;
    margin-bottom: 40px;
    transition: 1s ease-in-out;

}
.box2:hover{
    transform: scale(1.1);
}

.boximg2{
    margin-top: 40px;
    float: left;
    display: flex;
}
.boxtxt2{
    margin-left: 130px;
}
.box3{
    background-color: white;
    border: 2px solid  rgba(0,0,0,0.12);
    border-width: 2px;
    padding: 20px;
    max-width: 450px;
    background-color: white;
    transition: 1s ease-in-out;


}
.box3:hover{
    transform: scale(1.1);
}

.boximg3{
    margin-top: 40px;
    float: left;
    display: flex;
}
.boxtxt3{
    margin-left: 130px;
}
.dntimg{
    margin-top: 50px;
}
.thrdbody{
    width: 100%;
    height: 400px;
    background-color: white;
    margin-top: 1723px;
}
.lfttxt{
    margin-left: 160px;
}
.line1{
    font-family: 'Patua One',display;
    text-transform: uppercase;
    font-size: 18px;
    color: #a06d51!important;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-weight: lighter;

}
.line2{
    font-family: 'Patua One',display;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4em;

}
hr{
    color: gray;
    width: 400px;
    float: left;
}
.line3{
    font-family: 'Patua One',display;
    text-transform: uppercase;
    font-size: 20px;
    color: #a06d51!important;
    letter-spacing: 1px;
    line-height: 1.4em;
    font-weight: lighter;

}
.rghttxt{
    background-color: white;
    float: left;
    display: flex;
    justify-content: space-between;
    margin-top: -150px;
    margin-left: 600px;
    width: 800px;
    font-size: 15px;
    color: #666;
    font-family: Open Sans,Arial,sans-serif;
    letter-spacing: 1px;
    line-height: 1.4em;

}
.frthbody{
    background-color:white;
    width: 100%;
    height: 1500px;
}
.frstrow{
    background-color: white;
    height: 500px;
    display: flex;
     justify-content: space-between; 
    align-items: center;
}
.colm{
    height: 500px;
    width: 20%;
    border: 1px solid gray;
    text-align: center;
    padding: 10px;

}
.col-1{
    margin-left: 230px;
    transition: 1s ease-in-out;

}
.col-1:hover{
    transform: scale(1.1);
}
.col-2{
    transition: 1s ease-in-out;
}
.col-2:hover{
    transform: scale(1.1);
}

.col-3{
    margin-right: 230px;
    transition: 1s ease-in-out;
}
.col-3:hover{
    transform: scale(1.1);
}

.scndrow{
    background-color: white;
    height: 800px;
    display: flex;
     justify-content: space-between; 
    align-items: center;
    margin-top: -100px;

}
.colm1{
    height: 400px;
    width: 16%;
    border: 2px solid gray;
    text-align: center;
    padding: 10px;
    background-color:white ;

}
.col-4{
    margin-left: 200px;
    transition: 1s ease-in-out;
}
.col-4:hover{
    transform: scale(1.1);
}
.col-5{
    transition: 1s ease-in-out;
}
.col-5:hover{
    transform: scale(1.1);
}
.col-6{
    transition: 1s ease-in-out;
}
.col-6:hover{
    transform: scale(1.1);
}

.col-7{
    margin-right: 200px;
    transition: 1s ease-in-out;
}
.col-7:hover{
    transform: scale(1.1);
}
.bk_img{
    background-color:white;
    background-position: 50%;
    background-size: 100%;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: -600px;
    background: transparent;
}
.text{
    font-family: 'Patua One',display;
    color: white;
    line-height: 1.4em;
    text-align: center;
    margin-top: -400px;
    font-size: 46px;
    font-weight: 300px;
    width: 800px;
    margin-left: 400px;

}
.box_img{
    margin-left: 45%;
    margin-top: 130px;
}
.sxthbody{
    background-color: white;
    float: left;
    display: flex;
}
.lft_img{
    margin-left: 80px;
    margin-top: 80px;
}
.rght_side{
    margin-left: 80px;
    margin-top: 100px;


}
.online_btn{
    margin-top: 50px;
}
.str_btn{
    color: #ffffff!important;
    border-width: 0px!important;
    border-radius: 0px;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: 'PT Sans',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 700!important;
    text-transform: uppercase!important;
    background-color: #a06d51;
    width: 250px;
    height: 60px;
    font-weight: normal;


    padding-top: 16px!important;
    padding-right: 40px!important;
    padding-bottom: 16px!important;
    padding-left: 20px!important;

}
.rght_img{
    margin-left: 250px;
    margin-top: 120px;
}

.footer{
    margin-top: 600px;
}
.ropeimg{
    width: 1492px;
    height: 221px;
    margin-left: -400px;
}
.footerimg{
    /* background-image: linear-gradient(180deg,#160d08 0%,rgba(0,0,0,0.66) 100%),url(./images/bakery-31.jpg); */
    /* margin-top:-200px ; */
    width: 100%;
    height: 917px;
    width: 1920;
    
}

.footertxt{
    margin-top: -450px;
}


.ftrtxt{
    margin-left: 150px;
    font-size: larger;
}
.ftrtxt2{
    margin-top: -165px;
    margin-left: 450px;
    font-size: larger;

}
.ftrtxt3{
    margin-left: 750px;
    margin-top: -100px;
}
.ftrlogo{
    letter-spacing: 10px;
    color: #ffffff;
    transition: 1s ease-in-out;
}
.ftrlogo:hover{
    transform: scale(1.5);
}
